In [1]:
import json
from pathlib import Path
import numpy as np
import pandas as pd
import sys
import QuantLib as ql

In [2]:
# https://implementingquantlib.substack.com/p/different-kinds-of-swaps

In [3]:
today = ql.Date(19, ql.December, 2024)
ql.Settings.instance().evaluationDate = today

bps = 1e-4

In [4]:
def nparray2listQlDates(today,dates):
    qldates = []
    for i in range(len(dates)):
        if dates[i]>=0:
            qldates.append(today+ql.Period(dates[i], ql.Years))
        else:
            print(- dates[i])
            qldates.append(today-ql.Period(-dates[i], ql.Years))
    return qldates

In [5]:
sofr_curve = ql.ZeroCurve(
    [today, today + ql.Period(50, ql.Years)],
    [0.02, 0.04],
    ql.Actual365Fixed(),
)

In [6]:
#### test
ibordates= [0,1,2,3,4,5,6,7,8,9,10,15,20,30]
ibordatesql2 = nparray2listQlDates(today,ibordates)
iborvaleursnp= np.array([4.,4.418842,4.588199,4.383796,4.442341,4.472094,4.487725,
                       4.603022,4.49304931,4.55046352,4.56296427,4.817077,4.969355, 4.76199173])/100
iborvaleurs=iborvaleursnp.tolist()
sofr_curve = ql.ZeroCurve(
    ibordatesql2,
    iborvaleurs,
    ql.Actual365Fixed()
)
sofr_curve

In [7]:
sofr_handle = ql.YieldTermStructureHandle(sofr_curve)
sofr = ql.Sofr(sofr_handle)

In [8]:
sofr.fixing(ql.Date(7, ql.February, 2025))

0.04062467653228374

In [9]:
start_date = today
end_date = start_date + ql.Period(10, ql.Years)
coupon_tenor = ql.Period(1, ql.Years)
calendar = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
convention = ql.Following
rule = ql.DateGeneration.Forward
end_of_month = False

fixed_rate = 40 * bps
fixed_day_counter = sofr.dayCounter()

schedule = ql.Schedule(
    start_date,
    end_date,
    coupon_tenor,
    calendar,
    convention,
    convention,
    rule,
    end_of_month,
)
swap = ql.OvernightIndexedSwap(
    ql.Swap.Payer,
    1_000_000,
    schedule,
    fixed_rate,
    fixed_day_counter,
    sofr,
)

In [10]:
swap.setPricingEngine(
    ql.DiscountingSwapEngine(sofr_handle)
)

In [11]:
swap.NPV()

334614.6680790261

In [12]:
swap.fixedLegNPV()

-31917.749325440538

In [13]:
swap.overnightLegNPV()

366532.41740446666

In [14]:
data = []
for cf in swap.fixedLeg():
    coupon = ql.as_fixed_rate_coupon(cf)
    data.append(
        (
            coupon.date(),
            coupon.rate(),
            coupon.accrualPeriod(),
            coupon.amount(),
        )
    )

In [15]:
pd.DataFrame(
    data, columns=["date", "rate", "tenor", "amount"]
).style.format(
    {"amount": "{:.2f}", "rate": "{:.2%}"}
)

In [16]:
data = []
for cf in swap.overnightLeg():
    coupon = ql.as_floating_rate_coupon(cf)
    data.append(
        (
            coupon.date(),
            coupon.rate(),
            coupon.accrualPeriod(),
            coupon.amount(),
        )
    )

In [17]:
pd.DataFrame(
    data, columns=["date", "rate", "tenor", "amount"]
).style.format(
    {"amount": "{:.2f}", "rate": "{:.2%}"}
)

In [18]:
swap.fairRate()

0.04593461947046684

In [19]:
#   value after issuing

In [20]:
start_date = today - ql.Period(3, ql.Months)
end_date = start_date + ql.Period(10, ql.Years)

schedule = ql.Schedule(
    start_date,
    end_date,
    coupon_tenor,
    calendar,
    convention,
    convention,
    rule,
    end_of_month,
)
swap = ql.OvernightIndexedSwap(
    ql.Swap.Payer,
    1_000_000,
    schedule,
    fixed_rate,
    fixed_day_counter,
    sofr,
)
swap.setPricingEngine(
    ql.DiscountingSwapEngine(sofr_handle)
)

In [21]:
d = ql.Date(21, ql.June, 2023)
while d <= today:
    if sofr.isValidFixingDate(d):
        sofr.addFixing(d, 0.02)
    d += 1

In [22]:
swap.NPV()

331817.7554626634

In [23]:
swap.fixedLegNPV()

-32285.974512246947

In [24]:
swap.overnightLegNPV()

364103.7299749104

In [25]:
data = []
for cf in swap.fixedLeg():
    coupon = ql.as_fixed_rate_coupon(cf)
    data.append(
        (
            coupon.date(),
            coupon.rate(),
            coupon.accrualPeriod(),
            coupon.amount(),
        )
    )

In [26]:
pd.DataFrame(
    data, columns=["date", "rate", "tenor", "amount"]
).style.format(
    {"amount": "{:.2f}", "rate": "{:.2%}"}
)

In [27]:
data = []
for cf in swap.overnightLeg():
    coupon = ql.as_floating_rate_coupon(cf)
    data.append(
        (
            coupon.date(),
            coupon.rate(),
            coupon.accrualPeriod(),
            coupon.amount(),
        )
    )

In [28]:
pd.DataFrame(
    data, columns=["date", "rate", "tenor", "amount"]
).style.format(
    {"amount": "{:.2f}", "rate": "{:.2%}"}
)